*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
}
section{
	font-size: 1.2em;
}
.navbar .navbar-nav .nav-link{
	color: #FFF;
	font-size: 1.1em;
}
.navegacao{
	border-bottom: solid #FFF 1px;
}
.borda{
	border: solid red 1px;
}
.profile{
	width: 200px;
	border-radius: 100px;
	margin-top: 20px;
	animation: rotacionar 1s infinite alternate cubic-bezier(0.37, 0, 0.63, 1);
}
header{
	height: 320px;
}
header a:hover{
	transform: scale(1.1);
	transition: 400ms;
}
header a:not(:hover){
	transition: 400ms;
}
.meu-nome{
	width: 240px;
	margin: 0 auto;
	background: white;
	border: solid #6E0071 4px;
	color: #6E0071;
	text-align: center;
	border-radius: 50px;
	margin-top: 20px;
}
.meu-nome:hover{
	background: #6E0071;
	color: #FFF;
	border: solid #FFF 4px;
	transition: 400ms;
}
.meu-nome:not(:hover){
	transition: 200ms;
}
.meu-nome h1{
	font-size: 2em;
}
.navbar .navbar-nav .nav-link:hover {
    color: #c000c7;
	transform: scale(1.2);
    border-bottom: 2px solid #5a5087;
}
.separador{
	color: black;
	opacity: 1;
}

.titulo{
	text-align: center;
	padding-bottom: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.roxo{
	padding-top: 20px;
	background-color: #6E0071;
	color: black;
	box-shadow: #000 0px 0px 10px 5px;
}
.icons:hover{
	transform: scale(1.2);
	transition: 600ms;
	color: #c000c7;
}

#projetos .project .card{
	color: #000;
	font-size: 0.8em;
}
#projetos .project .card:hover{
	transform: scale(1.07);
	transition: 400ms;
	box-shadow: #000 0 0 10px 5px;
}
#projetos .project .card:not(:hover){
	transition: 400ms;
}
.project .card img{
	border-bottom: #000 solid 1px;
}

footer{
	background: #6E0071;
	box-shadow: #000 0px 0px 10px 5px;
}
footer i{
	font-size: 3em;
	color: #FFF;
	animation: bottom-up .5s infinite alternate;
}
footer button{
	margin: 0px 0 10px 0;
	width: 250px;
	border-radius: 30px;
	font-size: 1.3em;
}

@media screen and (max-width: 600px) {
	.navegacao{
		font-size: 13px;
	}
	#navegacao-topo ul li{
		margin-left: 4px;
		margin-right: 4px;
	}
	.dispositivos img{
		width: 390px;
	}
}
@media screen and (min-width: 601px) {
	#navegacao-topo ul li{
		margin-left: 10px;
		margin-right: 10px;
	}
}

@keyframes rotacionar {
	to{
		transform: rotate(-10deg);
	}
	from{
		transform: rotate(10deg);
	}
}

@keyframes bottom-up{
	to{
		transform: translateY(8px) rotate(-90deg);
	}
	from{
		transform: translateY(-10px) rotate(-90deg);
	}
}